# Created by https://www.toptal.com/developers/gitignore/api/android,androidstudio
# Edit at https://www.toptal.com/developers/gitignore?templates=android,androidstudio

**/build/
**/build/*
/files/
/files/*
/reports
**/mapping.txt
/local.properties
/app/release
/app/debug
/captures

# IntelliJ
*.iml
.idea/

# Gradle files
.gradle/
.gradle

# Android Studio Navigation editor temp files
.navigation/

# Android Studio captures folder
captures/

# Version control
vcs.xml
